{% extends 'base.html' %}

{% block title %}Add Room{% endblock %}

{% block content %}
<h2>Add New Room</h2>

<a href="/admin/dashboard" class="btn btn-secondary mb-3">
    ⬅ Back to Dashboard
</a>

<form method="POST" class="col-md-6">
    <input class="form-control mb-3" type="text" name="room_type" placeholder="Room Type" required>
    <input class="form-control mb-3" type="number" name="price" placeholder="Price" required>

    <button class="btn btn-primary">Add Room</button>
</form>
{% endblock %}