{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<h2>Admin Dashboard</h2>
<p class="text-muted">Manage resort operations from here</p>

<div class="row mt-4">

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5>Add New Room</h5>
                <p class="small text-muted">Create room entries</p>
                <a href="/admin/add-room" class="btn btn-primary">Add Room</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5>Manage Rooms</h5>
                <p class="small text-muted">View & update room status</p>
                <a href="/admin/rooms" class="btn btn-success">View Rooms</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <h5>View Bookings</h5>
                <p class="small text-muted">All customer bookings</p>
                <a href="/admin/bookings" class="btn btn-warning">
                View Bookings</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}