{% extends 'base.html' %}

{% block title %}Book Room{% endblock %}

{% block content %}
<h2>Book {{ room.room_type }}</h2>

<a href="/rooms" class="btn btn-secondary mb-3">
    ⬅ Back to Rooms
</a>

<form method="POST" class="col-md-6">
    <label>Check-in Date</label>
    <input class="form-control mb-3" type="date" name="check_in" required>

    <label>Check-out Date</label>
    <input class="form-control mb-3" type="date" name="check_out" required>

    <button class="btn btn-success">Confirm Booking</button>
</form>
{% endblock %}