{% extends 'base.html' %}

{% block title %}Available Rooms{% endblock %}

{% block content %}
<h2>Available Rooms</h2>

<a href="/dashboard" class="btn btn-secondary mb-3">
    ⬅ Back to Dashboard
</a>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Room Type</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>

    {% for room in rooms %}
    <tr>
        <td>{{ room.room_type }}</td>
        <td>₹{{ room.price }}</td>
        <td>
            <a href="/book/{{ room.id }}" class="btn btn-primary btn-sm">
                Book Now
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}